<section class="container mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <img src="images/line.jpg" class="w-25" alt="">
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-4">
                    <h4><i class="fa-solid fa-arrow-rotate-right fs-5"></i> บริการ</h4>
                    <div class="col-12">
                        <ul>
                            <li>Sale Page Website</li>
                            <li>Corporate Website</li>
                            <li>Catalog Website</li>
                            <li>E-commerce Website</li>
                        </ul>
                        <strong><i class="fa-solid fa-phone-volume"></i> : <a href="tel:0807308641">080-730-8641</a></strong>
                        <strong><i class="fa-brands fa-line"></i> : <a href="line:0807308641">0807308641</a></strong>
                        <strong><i class="fa-brands fa-facebook-messenger"></i> : <a href="https://business.facebook.com/latest/inbox/all?asset_id=148878979156441" target="_back">inbox I.lek </a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>